# This is a basic workflow to help you get started with Actions

name: Automatically Compile

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up the git repository
        uses: actions/checkout@v2
          
      # Comiles the three tex-files into pdfs
      - name: Compile the LaTeX documents
        uses: xu-cheng/latex-action@v2
        with: 
          root_file: |
            UD-stadgar.tex
            UD-reglemente.tex
            UD-gdpr.tex
          post_compile:
            "./postscript.sh"

#        run: |
#             ./build.sh UD-stadgar
#             ./build.sh UD-reglemente
#             ./build.sh UD-gdpr

#      - name: Create Release
#        id: create_release
#        uses: actions/create-release@v1
#        env:
#            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#            tag_name: ${{ github.ref }}
#            release_name: Release ${{ github.ref }}
#            draft: false
#            prerelease: false
#
#      - name: Release
#        uses: softprops/action-gh-release@v1
#        with:
#          files: |
#            UD-stadgar.pdf
#            UD-reglemente.pdf
#            UD-gdpr.pdf
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Adds the two resulting pdfs to a commit, then pushes that
      - name: Commit and tag the documents
        uses: EndBug/add-and-commit@v5.1.0
        with:
          add: "docs/UD-stadgar.pdf docs/UD-reglemente.pdf docs/UD-gdpr.pdf --force"
          author_name: Uppsala Datavetare
          author_email: dv-ordf@utn.se
          message: "Automatically generated"
          tag: "v${{ github.run_number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
